################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MAUI Training/v17
/CarListingMAUIApp/.vs/CarListingMAUIApp
/CarListingMAUIApp/CarListingMAUIApp/obj
/.vs
